<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WMTestDbContext"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=WMTest;Persist Security Info=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>