@model WMTest.Models.Email

@{
    ViewBag.Title = "Webmail Console";
    int idx = ViewBag.aTab;
}

<hgroup class="title">
    <h1>Welcome</h1>
    <h2>@Model.Sender.Name</h2>
</hgroup>

<div align="right">
    <span id="undo" class="k-button">Compose New Email</span>
</div>


@(Html.Kendo().Window()
    .Name("window")
    .Title("Compose new Email")
    .Visible(false)
    .Draggable(true)
    .LoadContentFrom("Send", "Email")
    .Actions(actions => actions.Close())
    .Events(x=>x.Close("onClose"))
    .Scrollable(true)
    .Height(500)
    .Scrollable(true)
)

<script>
    function onClose() {
        $("#undo").show();
        
    }

    $(document).ready(function () {
        $("#undo").bind("click", function () {
            $("#window").data("kendoWindow").open();
            $("#undo").hide();
        });
    });
</script>

<style scoped>
   #undo {
        text-align: center;
        padding: 1em;
        cursor: pointer;
    }  
    input, textarea {
        border: 1px solid #e2e2e2;
        background: #fff;
        color: #333;
        font-size: 1.2em;
        margin: 5px 0 6px 0;
        padding: 5px;
        width: 300px;
    }
</style>


@Html.ValidationSummary(true)

<br />

    @(Html.Kendo().TabStrip()
        .Name("ContactsTabStrip")
        .SelectedIndex(idx)
        .Items(items =>
        {
            items.Add()
                .Text("Emails Sent")
                .LoadContentFrom("List", "Report");
            items.Add()
                .Text("Settings")
                .LoadContentFrom("Index", "Config");
            items.Add()
                .Text("Statistics")
                .LoadContentFrom("Chart", "Report");
        })
    )
