USE [master]
GO
/****** Object:  Database [WMTest]    Script Date: 08/27/2013 19:16:32 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'WMTest')
BEGIN
CREATE DATABASE [WMTest] ON  PRIMARY 
( NAME = N'WMTest', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\WMTest.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WMTest_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\WMTest_log.LDF' , SIZE = 768KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WMTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WMTest]
GO
/****** Object:  Table [dbo].[EdmMetadata]    Script Date: 08/27/2013 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EdmMetadata]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EdmMetadata](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModelHash] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[EdmMetadata] ON
INSERT [dbo].[EdmMetadata] ([Id], [ModelHash]) VALUES (1, N'B3DFA78664223838605F05CDF19B36502A62B9EB5035C75F0976A263527039BB')
SET IDENTITY_INSERT [dbo].[EdmMetadata] OFF
/****** Object:  Table [dbo].[Configurations]    Script Date: 08/27/2013 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Configurations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Configurations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Server] [nvarchar](50) NOT NULL,
	[Port] [int] NOT NULL,
	[SSL] [bit] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Configurations] ON
INSERT [dbo].[Configurations] ([ID], [Server], [Port], [SSL], [Username], [Password]) VALUES (1, N'smtp.gmail.com', 587, 1, N'chitestwebmaster@gmail.com', N'unifei12345')
INSERT [dbo].[Configurations] ([ID], [Server], [Port], [SSL], [Username], [Password]) VALUES (2, N'smtp.gmail.com', 587, 1, N'chitestwebmaster@gmail.com', N'unifei12345')
INSERT [dbo].[Configurations] ([ID], [Server], [Port], [SSL], [Username], [Password]) VALUES (3, N'smtp.gmail.com', 587, 1, N'chitestwebmaster@gmail.com', N'unifei12345')
SET IDENTITY_INSERT [dbo].[Configurations] OFF
/****** Object:  Table [dbo].[Users]    Script Date: 08/27/2013 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Config_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([ID], [Name], [UserName], [Email], [Password], [Config_ID]) VALUES (1, N'WebMaster', N'chitestwebmaster', N'chitestwebmaster@gmail.com', N'12345', 1)
INSERT [dbo].[Users] ([ID], [Name], [UserName], [Email], [Password], [Config_ID]) VALUES (2, N'João Paulo', N'joao', N'leiteamaral@yahoo.com.br', N'12345', 2)
INSERT [dbo].[Users] ([ID], [Name], [UserName], [Email], [Password], [Config_ID]) VALUES (3, N'Maria Aparecida', N'maria', N'leiteamaral@yahoo.com.br', N'12345', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[Emails]    Script Date: 08/27/2013 19:16:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Emails]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Emails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[Recipient] [nvarchar](50) NOT NULL,
	[Body] [nvarchar](max) NULL,
	[SentDate] [datetime] NOT NULL,
	[Attachments] [nvarchar](max) NULL,
	[Sender_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Emails] ON
INSERT [dbo].[Emails] ([ID], [Subject], [Recipient], [Body], [SentDate], [Attachments], [Sender_ID]) VALUES (1, N'Testing', N'test0@mailserver.com', N'This is a boby test only', CAST(0x0000A1BD0109A844 AS DateTime), NULL, 1)
INSERT [dbo].[Emails] ([ID], [Subject], [Recipient], [Body], [SentDate], [Attachments], [Sender_ID]) VALUES (2, N'Testing', N'test1@mailserver.com', N'This is a boby test only', CAST(0x0000A1BE0109A844 AS DateTime), NULL, 1)
INSERT [dbo].[Emails] ([ID], [Subject], [Recipient], [Body], [SentDate], [Attachments], [Sender_ID]) VALUES (3, N'Testing', N'test2@mailserver.com', N'This is a boby test only', CAST(0x0000A1BF0109A844 AS DateTime), NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
SET IDENTITY_INSERT [dbo].[Emails] OFF
/****** Object:  ForeignKey [User_Config]    Script Date: 08/27/2013 19:16:32 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[User_Config]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [User_Config] FOREIGN KEY([Config_ID])
REFERENCES [dbo].[Configurations] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[User_Config]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [User_Config]
GO
/****** Object:  ForeignKey [Email_Sender]    Script Date: 08/27/2013 19:16:32 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[Email_Sender]') AND parent_object_id = OBJECT_ID(N'[dbo].[Emails]'))
ALTER TABLE [dbo].[Emails]  WITH CHECK ADD  CONSTRAINT [Email_Sender] FOREIGN KEY([Sender_ID])
REFERENCES [dbo].[Users] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[Email_Sender]') AND parent_object_id = OBJECT_ID(N'[dbo].[Emails]'))
ALTER TABLE [dbo].[Emails] CHECK CONSTRAINT [Email_Sender]
GO
